*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}
  
body{
    @include scrollbars(10px, _palette(fg), _palette(bg));
    background-color: _palette(bg);
    color:set-text-color( _palette(bg));
    font-family: _font(family);
    font-weight: _font(weight);
    height: 100%;
    font-family:_font(family);
    line-height: 1;

    position: relative;
    min-height: 100vh;

}


h1{
    font-size: _font-sizes(main);
    font-weight: _font-weights(bold);
    &[id="typewriter"]{
        display: none;
    }
    @include media-md{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }

    @include media-lg{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }

    @include media-xl{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }
}

h2{
    font-size: _font-sizes(secondary);
    font-weight: _font-weights(semi-bold);
}

h3, h4, h5{
    font-size: _font-sizes(tertiary);
    font-weight: _font-weights(semi-bold);
}

h1,h2,h3{
    color: _palette(fg);
}

p{
    color: _palette(fg-alt);
    font-size: _font-sizes(text);
    font-weight: _font-weights(regular);
}

a{
    color: set-text-color(_palette(fg));
    text-decoration:none; 
}

section{
    &[class="general"]{
        background-color: _palette(bg);
        height: 39rem;
        left: 0;
        @include top-of-page;
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        @include media-md{
            flex-direction: row;
            height: 30rem;
        }
        @include media-lg{
            flex-direction: row;
            height: 30rem;
        }
    
        @include media-xl{
            flex-direction: row;
            height: 48rem;
        }
    }

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

button, .button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border:solid 1px _palette(fg);
    padding: 0.75rem 2rem;
    font-size: _font-sizes(paragraph);
    font-weight: _font-weights(semi-bold);
    color:_palette(text-alt);
    opacity: 0.7;
    background-color: _palette(bg);
    cursor: pointer;
    width: 75vw;

    @include media-md{
        margin-top: 0;
        margin-left: 0rem;
        width: auto;
    }
    @include media-lg{
        margin-top: 0;
        margin-left: 0rem;
        width: auto;
    }

    @include media-xl{
        margin-top: 0;
        margin-left: 2rem;
        width: auto;
        font-size: _font-sizes(tertiary);
    }

    @include transition-ease;

    &:hover {
        border-width: 4px;
        padding: 0.72rem 1.8rem;
        border-color: _palette(accent2);
        color: _palette(accent2);
        font-weight: _font-weights(bold);

        @include transition-ease;
    }

}

.button.alt{
    color:_palette(fg-alt);
    opacity: 1;
    background-color: #ffff0000;
}
.desktop{
    display: none;

    @include media-md{
        display: block;
    }
}

.page_icons{

    margin: 1rem 0;
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    li{
        height:5rem;
        list-style-type: none;
        i{
            font-size: _font-sizes(tertiary);
            margin-right: _font-sizes(tertiary);
            color: _palette(fg);
        }
        a:hover{
            i{
                color:_palette(accent2);
            }
        }    
    }
}


.card_list{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    padding: 2rem 0;

    @include media-md{
        flex-direction: row;
    }

    > .card{
        border: solid 1px _palette(h-fg);
        margin: 1rem 1rem 1rem 0;
        height: fit-content;
        padding: 1rem;
        box-shadow: 0px 0px 3px 1px _palette(h-fg);

        @include media-md{
            max-width: 23%;
        }
    }
}




