*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}
  
body{
    @include scrollbars(10px, _palette(fg), _palette(bg));
    background-color: _palette(bg);
    color:set-text-color( _palette(bg));
    font-family: _font(family);
    font-weight: _font(weight);
    height: 100%;
    font-family:_font(family);
    line-height: 1;

    position: relative;
    min-height: 100vh;

}


h1{
    font-size: _font-sizes(main);
    font-weight: _font-weights(bold);
    &[id="typewriter"]{
        display: none;
    }
    @include media-md{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }

    @include media-lg{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }

    @include media-xl{
        &[id="typewriter"]{
            display: block;
        }
        &[id="mobile"]{
            display: none;
        }

    }
}

h2{
    font-size: _font-sizes(secondary);
    font-weight: _font-weights(semi-bold);
}

h3, h4, h5{
    font-size: _font-sizes(tertiary);
    font-weight: _font-weights(semi-bold);
}

h1,h2,h3{
    color: _palette(fg);
}

p{
    color: _palette(fg-alt);
    font-size: _font-sizes(text);
    font-weight: _font-weights(regular);
}

a{
    color: set-text-color(_palette(fg));
    text-decoration:none; 
}

section{
    &[class="general"]{
        background-color: _palette(bg);
        height: 39rem;
        left: 0;
        @include top-of-page;
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    
        @include media-md{
            flex-direction: row;
            height: 30rem;
        }
        @include media-lg{
            flex-direction: row;
            height: 30rem;
        }
    
        @include media-xl{
            flex-direction: row;
            height: 48rem;
        }
    }

}

.buttons{
    height: fit-content;
    margin: 3rem 0;
}

.button{
    border: solid 2px  _palette(fg-bold);
    padding: 1rem;
    text-decoration: none;
    color: _palette(fg-bold);
    font-size: _font-sizes(paragraph);
    font-weight: _font-weights(regular);

    &:hover{
        @include transition-ease;
        border: solid 1px  _palette(h-fg);
        background-color: _palette(h-fg);
        color: _palette(text-alt);
    }

}

.card_list{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

    padding: 2rem 0;

    @include media-md{
        flex-direction: row;
    }

    > .card{
        border: solid 1px _palette(h-fg);
        margin: 1rem 1rem 1rem 0;
        height: fit-content;
        padding: 1rem;
        box-shadow: 0px 0px 3px 1px _palette(h-fg);

        @include media-md{
            max-width: 23%;
        }
    }
}




