@import 'vars', 'functions', 'mixin', 'components';
@import 'base', 'menu', 'footer';
@import 'pages/home', 'pages/about', 'pages/volunteer', 'pages/portfolio', 'pages/coding', 'pages/mechanical', 'pages/resume', 'pages/contact', 'pages/interests', 'pages/robotics';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic');


main{
    width: 99vw;
    position: relative;

    .social-icons{
        position: fixed;
        bottom: 1rem;
        left: 1rem;

    }

    a{
        padding: 0.4 rem;
        @include transition-ease;
        &:hover{
            color: _palette(fg);
        }
    }


}

#page-container{
    position: relative;
    min-height: calc(100vh - #{$header-height} - $footer-height);
}

#content-wrap{
    padding-bottom: $footer-height;
}

