.coding{  
    @include top-of-page;
    section{
        &.two{
            height: 80rem;
            width: auto;
            padding: 3rem;
            background-color: _palette(bg);
            display: flex;
            margin-bottom: 4rem;
            flex-direction: column;
            @include media-md{
                height: 33rem;
            }
            @include media-lg{
                flex-direction: row;
                height: 30rem;
            }

            & h2{  
                width: 100%;
                @include media-lg{
                    width: 40%;
                }
                display: block;
                margin: auto;
                font-size: _font-sizes(tertiary);
                @include media-xl{
                    font-size: _font-sizes(secondary);
                }
                color: _palette(text-alt);
                font-weight: _font-weights(regular);
                line-height: 2rem;
            }
            & .skills-box{
                margin-left: 0rem;
                padding: 0rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 3rem;

                @include media-md{
                    flex-direction: row;
                }

                @include media-lg{
                    margin-left: 2rem;
                    margin-top: 0rem;
                    padding: 1rem;
                    width: 60%;
                    height: inherit;
                }
                @include box-shadow-details;
                background-color: _palette(fg-alt);

                & .box{
                    @include media-md{
                        border-right: solid 1px _palette(fg);
                    }
                    padding: 1rem;
                    width: 100%;
                    text-align: center;
                    &:last-child{
                        border-right: none;
                    }
                    & h3{
                        margin-bottom: 1rem;
                        @include media-xl{
                            font-size: _font-sizes(secondary);
                        }
                    }
                    & h4{
                        font-size: _font-sizes(small-print);
                        @include media-xl{
                            font-size: _font-sizes(paragraph);
                        }
                        font-style:italic;
                        font-weight: _font-weights(regular);
                        margin-bottom: 1rem;
                    }

                    & ul{
                        margin-left: 1rem;
                        list-style-type: none;
                        text-align:center;
                        & li{ 
                            margin-bottom: 1rem;
                            & i{
                            margin-right: 0.5rem;
                            color: _palette(fg);
                        }
                    }
                }

            }
        }
        }

        &.supply-chain-section[id='supply']{
            display: none;

            &.show{
                display:block;
            }
        }

        &.data-analysis-section[id='data']{
            display: none;

            &.show{
                display:block;
            }
        }
    }
    & .tabs {
        margin: 1rem 0rem 2rem 0rem;
        padding: 1rem 1rem 0 3rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;

        cursor: pointer;

        border-bottom: solid 2px _palette(fg);

        h3[id="h3-text"]{
            position: relative;
            bottom: -2px;
            padding: 1rem 1rem 0.5rem 1rem;
        }

        h3.show{
            background-color: _palette(bg);
            border-top: solid 2px _palette(fg);
            border-left: solid 2px _palette(fg);
            border-right: solid 2px _palette(fg);
            border-bottom: solid 2px _palette(bg);
        }
    }
    & .card-grid{
        display: grid;
        gap: 1rem;
        padding: 2rem;
        grid-template-columns: 1fr;
        
        @include media-lg{
            grid-template-columns: 1fr 1fr;
        }

        & .card{
            height: fit-content;
            width: minmax(15rem, auto);
            display:flex;
            flex-direction: column;

            @include media-md{
                flex-direction: row;
            }

            padding: 2rem 0.5rem;
            background-color: white;
            @include box-shadow-details;

            & .images{
                width: inherit;
                @include media-md{
                    width: 40%;
                }
                margin:0 1.75rem;
                &>img{
                    width:100%;
                    display:block;
                    display:block;
                    @include media-xl{
                        height: 15rem;
                        width: auto;
                    }
                }

                & p{
                    margin: 1.5rem 0rem;
                    color: #777;
                    text-align: left;
                    text-align: justify;
                    line-height: 1.5rem;
                    font-size: _font-sizes(paragraph);
                    @include media-xl{
                        font-size: _font-sizes(tertiary);
                    }
                }

                & .languages{
                    display: inline-block;
                    width: 100%;
                    vertical-align: middle;
                    
                    & img{
                        margin-top: auto;
                        margin-bottom: auto;
                        width: 15%;
                        height: 20%;
                        margin: 1rem 0.75rem;
                    }
                }
            }

            & .text{
                width: inherit;
                padding: 1rem;
                @include media-md{
                    width: 60%;
                    padding: 0;
                }
                @include media-xl{
                    & h3{
                        font-size: _font-sizes(secondary);
                    }
                }
                & ul{
                    margin: 1rem 0.75rem 2rem 1rem;
                    li{
                        font-size: 1.10rem;
                        color: _palette(text-alt);
                        line-height: 1.75rem;
                        margin-top: 1rem;
                        @include media-xl{
                            font-size: _font-sizes(tertiary);
                        }
                    }
                }
                & .languages{
                    display: inline;
                    
                    & img{
                        width: 10%;
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}

